body{
	margin: 0px;
	padding: 0px;
/*	margin-left: 5em;*/
/*	background-color: #52d1dc;*/
	background-color: #373737;
	font-family: 'Righteous', cursive;
}

#Title{
	text-align: center;
	background-color: #5D6F85;/*fix border not working*/
	border-style: solid;
	border-width: 4px;
	border-color: black;
	float: right;
	width: 70%;
}

a, figure {
    display: inline-block;
}


#Links{
	text-align: center;
	background-color: #373737;
/*
	border-style: solid;
	border-width: 4px;
	border-color: black;
*/
	color: #FFFFFF;
	float: right;
	width: 68%;
}

#Bio{
	text-align: center;
	background-color: #373737;
/*
	border-style: solid;
	border-width: 4px;
	border-color: black;
*/
	color: #FFFFFF;
	float: right;
	width: 68%;
}

/*
#Links img {
	width: 10em;
	border-radius: 10px;
}
*/

/*navbar */
#navbar{
	text-align: left;
	font-size: 1.2em;
	font-family: 'Special Elite', cursive;
}

#navbar img {
	width: 3em;
	border-radius: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #1C2541;
	position:fixed;
	height: 100%;
	width: 30%;
	overflow: auto;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	
}

li a {
  display: block;
  color: #5BC0BE;;
/*  padding: 8px 16px;*/
  text-decoration: none;
}

li a.active {
  color: white;
}

li a:hover:not(.active) {
  background-color: #0b132b;
  color: white;
}
/*navbar ends*/

#Images{
	text-align: center;
	background-color: #373737;
/*
	border-style: solid;
	border-width: 4px;
	border-color: black;
*/
	color: #85ffc7;
	float: right;
	width: 70%;
	display: block;
}
#Images img{
	border-radius: 10px;
	padding-left: 0.25em;
}

@media only screen and (max-width: 650px) {

	#navbar{
		font-size: 1em;
	}
}
.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}


/*scrollbar code*/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #297373; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #205c5c; 
}

#footer{
	font-size: 0.8em;
	color: #A9A9A9;
}