body{
	margin: 0px;
	padding: 0px;
	margin-left: 5em;
	background-color: #52d1dc;
}

#Title{
	text-align: center;
	background-color: #04E824;/*fix border not working*/
	border-style: solid;
	border-width: 4px;
	border-color: black;

}

a, figure {
    display: inline-block;
}

#Links{
	text-align: center;
	background-color: #34403A;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	color: #85ffc7;
	
}

#Links img {
	width: 10em;
	border-radius: 10px;
}


.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}